<%- @kids.each do |kid| %>

    <li class="<%= @hidden ? 'hidden' : '' %>">
      <!-- card -->
      <div class="card card__panding">

        <!-- card__pic -->
        <div class="card__pic">
          <img src="" alt="">

          <!-- card__time -->
          <div class="card__time">00:25</div>
          <!-- /card__time -->
          
        </div>
        <!-- /card__pic -->

        <!-- card__name -->
        <div class="card__name">Снежана Прохорова, <span>6 лет</span></div>
        <!-- /card__name -->

        <!-- card__place -->
        <div class="card__place">г.Киев, Проспект Свободы 145 Б</div>
        <!-- /card__place -->

      </div>
      <!-- /card -->

    </li>

<% end %>