<!-- popup -->
<div class="popup">

  <!-- popup__wrap -->
  <div class="popup__wrap">

    <!-- popup__content -->
    <div class="popup__content popup__card">

      <!-- kid -->
      <div class="kid">

        <!-- popup__close -->
        <div class="popup__close"></div>
        <!-- /popup__close -->
        <div class="popup_replace">

        </div>

      </div>
      <!-- /kid -->

    </div>
    <!-- /popup__content -->


  </div>
  <!-- /popup__wrap -->

</div>
<!-- /popup -->