<!-- site -->
<div class="site site_inner">

  <!-- site__header -->
  <header class="site__header">
    <!-- site__header-wrap -->
    <div class="site__header-wrap">

      <!-- site__header-inner -->
      <div class="site__header-inner">

        <!-- logo -->
        <h1 class="logo">
          <img src="/assets/logo.png" alt="Good Deal"/>
        </h1>
        <!-- /logo -->

      </div>
      <!-- /site__header-inner -->

    </div>
    <!-- /site__header-wrap -->
  </header>
  <!-- /site__header -->

  <!-- site__content -->
  <div class="site__content">

    <!-- site__foter -->
    <footer class="site__foter"></footer>
    <!-- /site__foter -->

  </div>
  <!-- /site__content -->

</div>
<!-- /site -->

<!-- preloader -->
<div class="preloader">
  <div></div>
  <img src="/assets/logo-big.png" alt="Preloader" width="294" height="56"/>
</div>
<!-- /preloader -->