<!-- site -->
<div class="site">

  <!-- site__content -->
  <div class="site__content">

    <!-- cards -->
    <div class="cards">

      <h2>Ты можешь помочь ребенку</h2>

      <p>Вы часто занимаетесь благотворительностью? Либо хотите действительно помочь ребёнку? Выберите обращение которое вам понравилось и осуществите мечту ребенка, для этого достаточно добавить в лист ожидания одно из обращений и после отправки подарка адресату подтвердите ваше действие.</p>

      <ul>
        <%= render 'kids/kids', :@kids => @kids %>
      </ul>
      <%- if @kids.total_count > 6 %>
      <!-- cards__more -->
      <form class="cards__more" action="<%= home_index_path %>">
          <!-- btn -->
          <button class="btn">
            Показать еще
          </button>
          <!-- /btn -->
      </form>
      <!-- /cards__more -->
      <%- end %>

    </div>
    <!-- /cards -->
    <%= render 'layouts/footer' %>

  </div>
  <!-- /site__content -->

</div>
<!-- /site -->

<!-- preloader -->
<div class="preloader">
  <div></div>
  <img src="/assets/logo_big.png" alt="Preloader" width="120" height="71"/>
</div>
<!-- /preloader -->
<%= render 'kids/popup' %>

