<!-- site -->
<div class="site">

  <!-- site__content -->
  <div class="site__content">

    <!-- cards -->
    <div class="cards">

      <h2>Ты можешь помочь ребенку</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

      <ul>
        <%= render 'kids/kids', :@kids => @kids %>
      </ul>

      <!-- cards__more -->
      <form class="cards__more" action="<%= home_index_path %>">

        <!-- btn -->
        <button class="btn">
          Показать еще
        </button>
        <!-- /btn -->

      </form>
      <!-- /cards__more -->



    </div>
    <!-- /cards -->

    <!-- site__footer -->
    <footer class="site__footer">

      <!-- site__footer-wrap -->
      <div class="site__footer-wrap">

        <!-- footer__logo -->
        <div class="footer__logo">
          <img src="/assets/footer-logo.png" alt="">
        </div>
        <!-- /footer__logo -->

        <!-- footer__copyright -->
        <div class="footer__copyright">© 2016</div>
        <!-- /footer__copyright -->

        <!-- footer__social -->
        <div class="footer__social">
          Мы в социальных сетях
          <ul>
            <li><a class="footer__social-f" href="#"></a></li>
            <li><a class="footer__social-t" href="#"></a></li>
            <li><a class="footer__social-g" href="#"></a></li>
            <li><a class="footer__social-in" href="#"></a></li>
          </ul>
        </div>
        <!-- /footer__social -->

        <!-- footer-l -->
        <div class="footer-l">
          <img src="/assets/l.png" alt="">
        </div>
        <!-- /footer-l -->
        
      </div>
      <!-- /site__footer-wrap -->

    </footer>
    <!-- /site__footer -->

  </div>
  <!-- /site__content -->

</div>
<!-- /site -->

<!-- preloader -->
<div class="preloader">
  <div></div>
  <img src="/assets/logo_big.png" alt="Preloader" width="120" height="71"/>
</div>
<!-- /preloader -->

<!-- popup -->
<div class="popup">

  <!-- popup__wrap -->
  <div class="popup__wrap">

    <!-- popup__content -->
    <div class="popup__content popup__card">


    </div>
    <!-- /popup__content -->


  </div>
  <!-- /popup__wrap -->

</div>
<!-- /popup -->

<!-- snow -->
<canvas class="snow"></canvas>
<!-- /snow -->
