<!-- site__footer -->
<footer class="site__footer">

  <!-- site__footer-wrap -->
  <div class="site__footer-wrap">

    <!-- footer__logo -->
    <div class="footer__logo">
      <img src="/assets/footer-logo.png" alt="">
    </div>
    <!-- /footer__logo -->

    <!-- footer__copyright -->
    <div class="footer__copyright">© 2016</div>
    <!-- /footer__copyright -->


    <!-- footer__social -->
    <div class="footer__social">
      Мы в социальных сетях
      <ul>
        <li><a class="footer__social-f" href="#"></a></li>
        <li><a class="footer__social-t" href="#"></a></li>
        <li><a class="footer__social-g" href="#"></a></li>
        <li><a class="footer__social-in" href="#"></a></li>
      </ul>
    </div>
    <!-- /footer__social -->

    <!-- footer-l -->
    <div class="footer-l">
      <img src="/assets/l.png" alt="">
    </div>
    <!-- /footer-l -->

  </div>
  <!-- /site__footer-wrap -->

</footer>
<!-- /site__footer -->